.navigation {
  @include flex($JustifyContent: space-between);
  font-family: "Morganite";
  width: 100%;
  align-self: center;
  transition: opacity 400ms ease-in;
  padding: 2rem;
  z-index: 1;
  position: absolute;
  top: 0%;
  &_logo-name {
    @include flex();
    font-size: 1.3rem;
    transform: scaleX(2);
    border-radius: 50%;
    padding: 0.49rem;
    background-color: white;
  }
  &_list {
    color: white;
    font-size: 2rem;
    letter-spacing: 4px;
    border-bottom: 2px solid white;
  }
}
