@media (min-width: 49rem) {
  .intro {
    @include flex($JustifyContent: flex-end);
    margin: auto;
    font-size: 13rem;
    padding-right: 3rem;
    &_num,
    &_page-description {
      font-family: "Oswald";
      position: absolute;
      line-height: 190px;
      text-transform: uppercase;
      right: 0%;

      text-align: right;
    }

    &_page-description {
      @include flex($alignItems: flex-end, $flexDirection: column);
      .page_description {
        display: flex;
        color: $blended-color;
        gap: 1rem;
        letter-spacing: 4px;
      }
    }
    &_name_who {
      transform: translateX(89px);
      position: absolute;
      left: 0%;
      @include flex(
        $flexDirection: column,
        $alignItems: flex-start,
        $gap: 2rem
      );
      .about_btn {
        font-size: 2rem;
        margin-left: 1rem;
        text-transform: uppercase;
        font-style: italic;
        border-bottom: 2px solid $diff-color;
        color: $diff-color;
      }
    }
    &_name-container {
      position: relative;
    }
    &_name {
      font-family: "Kudryashev Headline Sans Web";
      font-size: 15rem;
      line-height: 190px;
      &:nth-child(1) {
        color: $main-text-color;
        z-index: 2;
      }
      &:nth-child(2) {
        position: absolute;
        inset: 0 0 0 0;
        z-index: -1;
        color: $diff-color;
      }
    }

    &_page-description {
      transform: translateY(-210%);
    }
  }
}
