@mixin pseudo($width: unset, $height: unset) {
  content: "";
  position: absolute;
}
@mixin flex(
  $flexDirection: row,
  $JustifyContent: center,
  $alignItems: center,
  $gap: 0rem
) {
  display: flex;
  flex-direction: $flexDirection;
  justify-content: $JustifyContent;
  align-items: $alignItems;
  gap: $gap;
}
