// $primary: #5c2a9d;
// $color: #1b2437;
// $color1: #127681;
// $aqua: #32e0c4;
// $yellow: #f3c623;
// $red: #f54291;
// $pink: #ffd3e1;
// $color6: #27496d;
// $color6: #522d5b;
// $color6: #5c2a9d;
// $color6: #7d5a5a;
// $color6: #c060a1;
// $orange: #ffa41b;
// $tomato: #d7385e;
// $color6: #204051;
$long-font: "Oswald";
$stylish-header: "Kudryashev Headline Sans Web";
$diff-color: yellow;
$main-text-color: #fef1e6;
$blended-color: #1a1e1d;
